{% extends "layout.html" %}
{% block content %}
<h2>How to use SNAPS</h2>
<p>

</p>
<p>
To use SNAPS, you will need:
<ul>
    <li>a chemical shift list derived from one or more protein spectra. The shifts 
    should be grouped into spin systems/pseudo-residues. A number of formats are
    accepted, including 
    <a href="{{ url_for('static', filename='example files/sparky shifts.txt')}}">SPARKY</a>, 
    <a href="{{ url_for('static', filename='example files/Xeasy shifts.txt')}}">XEASY</a>, 
    <a href="{{ url_for('static', filename='example files/nmrpipe_shifts.txt')}}">nmrPipe</a> and 
    <a href="{{ url_for('static', filename='example files/ccpn_resonances.txt')}}">resonance lists</a> exported from CCPN
    Analysis (v2.x). In future, it will be possible to import peaklists directly.</li>
    <li>a list of predicted chemical shifts. Currently, 
    <a href="{{ url_for('static', filename='example files/shiftx2.txt')}}">SHIFTX2</a> 
    <a href="http://www.shiftx2.ca/">[1]</a> and 
    <a href="{{ url_for('static', filename='example files/sparta.txt')}}">SPARTA+</a>
    <a href="https://spin.niddk.nih.gov/bax/nmrserver/sparta/">[2]</a> 
    predictions are accepted.</li>
</ul>
You can also leave both input fields blank, and the server will return results 
from some demonstration data.
</p>
<p>
After running SNAPS, two pieces of information are returned:
<ul>
     <li>a table containing the maximum likelihood assignment.</li>
    <li>an interactive strip plot which allows you to quickly locate residues with 
    poor sequential links. (This will only be generated if your input data contains 
    sequential connectivity information for at least one carbon, eg. both CA_i and 
    CA_i-1 shifts.)</li>
</ul>
</p>
<p>

</p>

			
			<!-- /#page-content-wrapper -->
{% endblock %}
