{% extends "layout.html" %}
{% block content %}
			<h2 id=configurationSection>Configuration</h2>
			<form id="form" style="width: 600px" action="$SCRIPT_ROOT + '/run'" enctype=multipart/form-data method="post">
				<div class="row">
					<div class="col">
						<label for="observedShiftsFile">Observed shifts file:</label>
					</div>
					<div class="col">
						<label for="observedShiftsFormat">Observed shifts format:</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="file" name="observedShiftsFile" class="form-control-file" id="observedShiftsFile" />
					</div>
					<div class="col">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="observedShiftsFormatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Naps</button>
                            <input type="hidden" name="shift_type" value="Naps">
                            <div class="dropdown-menu" aria-labelledby="observedShiftsFormatDropdown">
								<span class="dropdown-item">Naps</span>
                                <span class="dropdown-item">CCPN</span>
                                <span class="dropdown-item">Sparky</span>
                                <span class="dropdown-item">XEasy</span>
                                <span class="dropdown-item">NMRPipe</span>
								<span class="dropdown-item">Test</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<label for="predictedShiftsFile">Predicted shifts file:</label>
					</div>
					<div class="col">
						<label for="predictedShiftsFormat">Predicted shifts format:</label>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<input type="file" name="predictedShiftsFile" class="form-control-file" id="predictedShiftsFile" />
					</div>
					<div class="col">
						<div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="predictedShiftsFormatDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shiftx2</button>
                            <input type="hidden" name="pred_type" value="Shiftx2">
                            <div class="dropdown-menu" aria-labelledby="predictedShiftsFormatDropdown">
								<span class="dropdown-item">Shiftx2</span>
								<span class="dropdown-item">Sparta+</span>
							</div>
						</div>
					</div>
				</div>
				<p><a href="#" id=advanced>Advanced</a></p>
				<div id=advancedToggle class="collapse in">
					<p>Predicted shift offset:</p>
				</div>
                <button class="btn btn-primary" id=run>Run</button>
            </form>
            <div id="resultsSection" class="collapse in">
                <h2>Results</h2>
                <div id="fileSender" class="bg-light">
                    <div id="email">
                    </div>
                </div>
                <p id="errors"></p>
                <div id="downloadPlot">
                </div>
                <div id="plot"></div>
                <div id="downloadResults">
                </div>
                <table id="table" data-height="500">
                    <thead>
                        <tr id="tableData"></tr>
                    </thead>
                </table>
                
            </div>
{% endblock %}
		