{% extends "layout.html" %}
{% block content %}
<h2>About SNAPS</h2>
<p>
SNAPS (Simple NMR Assignments from Predicted Shifts) is a program for assigning NMR 
spectra using information from chemical shift predictions derived from protein 
structures. It is currently under development and is available at GitHub: <a href="https://github.com/aheyam/NAPS">https://github.com/aheyam/NAPS</a>. 
Any feedback would be gratefully received at alex.heyam at york.ac.uk.
</p>
<h2>How it works</h2>
<p>SNAPS works by assigning a probability to each possible pairing between observed 
spin systems and predicted residues. This is calculated assuming the error in the 
predicted shift follows a Gaussian distribution, with a 
standard deviation determined from a set of roughly 60 test proteins. Probabilities
for each atom type are multiplied to get the overall spin system-residue match 
probability. Information on up to 9 atom types can be incorporated (H, HA, N, C, 
CA and CB, and also C, CA and CB of the preceeding residue).</p>
<p>SNAPS then finds the assignment which maximises the overall probability (ie. the 
product of the probabilities of the individual peak assignments). This is done 
efficiently using a linear optimisation algorithm for solving general assignment 
problems. Note that chemical shift matching between adjacent residues is *not* 
used when generating the assignments (except indirectly), so this can be used 
to assess assignment quality. SNAPS generates a strip plot highlighting areas 
of sequential mismatch which require manual inspection.</p>

<h2>Disclaimer</h2>
<p>
SNAPS is currently under development, and is available for demonstration or 
testing purposes only. It likely contains bugs, and may change without notice. 
Use at your own risk!
</p>
			
			<!-- /#page-content-wrapper -->
{% endblock %}
