<!DOCTYPE html>
<html lang="en">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>NAPS</title>
	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}" rel="stylesheet"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}" rel="stylesheet"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
	<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <!-- Form-specific JavaScript -->
    <script src="{{ url_for('static', filename='Layout.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='Execution.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='Download.js') }}" rel="stylesheet"></script>
    <script src="{{ url_for('static', filename='scripts/FileSaver.min.js') }}" rel="stylesheet"></script>

    <link href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.0.4.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <img src="{{ url_for('static', filename='ratnaps.png') }}" width="150" height="45" title="NAPS"/>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a href="../" class="nav-link nav-item active">Run NAPS</a>
                <span class="nav-link nav-item">|</span>
                <a href="../info" class="nav-link nav-item active">About NAPS</a>
            </div>
        </div>
    </nav>
    <div id="page-content-wrapper" class="container-fluid main">
        <!-- /#page-content-wrapper -->
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /#wrapper -->
        <footer class="font-small blue">
            <div>
                Links &amp; info?
            </div>
        </footer>
    </div>
</body>
</html>