/* The sidebar menu */
#fileSender {
    padding: 2.5rem 0.5rem 0 1.25rem;
}

#fileSender p {
    margin-bottom: 0;
}

#fileSender button {
    font-size: 0.8rem;
}

.fileSender {
    margin-top: 10px;
    font-size: 0.8rem;
    width: 100%;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
